<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Component</title>
</head>

<body>

    <div id="app1">
        <h3>Blog Yang Dipilih : {{selectedBlog}}</h3>
        <blog-component
            v-for="blog in blogs"
            :blog="blog"
            @selected="selectedBlog = $event"
        >
        </blog-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>      
 
    <script type="module">

        import {BlogComponent} from './BlogComponent.js'

        const vm = new Vue({
            el: '#app1',
            components : {
                'blog-component' : BlogComponent
            },
            data : {
                blogs : [
                    {
                        title :'Judul Blog Pertama',
                        content : 'Deskripsi Blog Pertama'
                    },
                    {
                        title :'Judul Blog Kedua',
                        content : 'Deskripsi Blog Kedua'
                    },
                ],
            selectedBlog : ''
        } 
    })

           

    </script>

</body>

</html>

        
        